version: 1.0.{build}

branches:
  only:
    - master

environment:
  global:
    APPVEYOR_SAVE_CACHE_ON_ERROR: true
    APPVEYOR_CACHE_ENTRY_ZIP_ARGS: -t7z -m0=lzma -mx=4
    APPVEYOR_RDP_PASSWORD: PL4YMUM3!
  matrix:
    - ARCH: x86
      COMPILER: GCC

    - ARCH: x64
      COMPILER: GCC

    - ARCH: arm
      COMPILER: GCC

    - ARCH: arm64
      COMPILER: GCC

    - ARCH: x86
      COMPILER: MinGW
      QTDIR: C:\Qt\5.15.0\mingw73_32

    - ARCH: x64
      COMPILER: MinGW
      QTDIR: C:\Qt\5.15.0\mingw73_64

    - ARCH: x86
      COMPILER: VS2019
      QTDIR: C:\Qt\5.14\msvc2017

    - ARCH: x64
      COMPILER: VS2019
      QTDIR: C:\Qt\5.14\msvc2017_64

    - ARCH: x64
      COMPILER: Clang

image:
  # AppVeyor builds are ordered by the image list:
  - Visual Studio 2017
  - macos-mojave
  - Ubuntu1804
  - Previous Visual Studio 2019

matrix:
  exclude:
    # Exclude invalid options
    - image: Previous Visual Studio 2019
      COMPILER: Clang
    - image: Previous Visual Studio 2019
      COMPILER: GCC
    - image: Previous Visual Studio 2019
      COMPILER: MinGW
    - image: Visual Studio 2017
      COMPILER: Clang
    - image: Visual Studio 2017
      COMPILER: GCC
    - image: Visual Studio 2017
      COMPILER: VS2019
    - image: Ubuntu1804
      COMPILER: Clang
    - image: Ubuntu1804
      COMPILER: MinGW
    - image: Ubuntu1804
      COMPILER: VS2019
    - image: macos-mojave
      COMPILER: GCC
    - image: macos-mojave
      COMPILER: MinGW
    - image: macos-mojave
      COMPILER: VS2019
    # Following builds are disabled to prevent build timeout
    - image: Ubuntu1804
      ARCH: arm
    - image: Ubuntu1804
      ARCH: arm64

for:
  # Ubuntu
  -
    matrix:
      only:
        - image: Ubuntu1804

    clone_folder: ~/mmapper

    services:
      - docker

    init:
      - sh: echo _NPROCESSORS_ONLN=$(getconf _NPROCESSORS_ONLN)
      - sh: if [[ $ARCH == x86 ]]; then export DOCKER_IMAGE=i386/ubuntu:18.04 ; fi
      - sh: if [[ $ARCH == x86 ]]; then export TARGET_ARCHITECTURE=i386 ; fi
      - sh: if [[ $ARCH == x64 ]]; then export DOCKER_IMAGE=amd64/ubuntu:18.04 ; fi
      - sh: if [[ $ARCH == x64 ]]; then export TARGET_ARCHITECTURE=amd64 ; fi
      - sh: if [[ $ARCH == arm ]]; then export DOCKER_IMAGE=multiarch/debian-debootstrap:armhf-buster ; fi
      - sh: if [[ $ARCH == arm ]]; then export TARGET_ARCHITECTURE=armhf ; fi
      - sh: if [[ $ARCH == arm64 ]]; then export DOCKER_IMAGE=multiarch/debian-debootstrap:arm64-buster ; fi
      - sh: if [[ $ARCH == arm64 ]]; then export TARGET_ARCHITECTURE=arm64 ; fi
      - sh: echo TARGET_ARCHITECTURE=$TARGET_ARCHITECTURE
      - sh: echo DOCKER_IMAGE=$DOCKER_IMAGE

    install:
      - ps: $env:package_version = ("$(git describe --tags --always --long)").trim()
      - ps: Update-AppveyorBuild -Version "$env:package_version-$env:APPVEYOR_BUILD_NUMBER"
      # Enable an execution of different multi-architecture containers by QEMU
      # https://hub.docker.com/r/multiarch/qemu-user-static/
      - sh: docker run --rm --privileged multiarch/qemu-user-static:register --reset

    build_script:
      # Build MMapper within a Docker container using the current working path as a volume
      - sh: docker run --rm -v "$(pwd)":/root/mmapper $DOCKER_IMAGE bash -c "apt update && apt upgrade -y && apt install -y build-essential git qt5-qmake libqt5opengl5-dev zlib1g-dev libssl-dev cmake libminiupnpc-dev && cd /root/mmapper && mkdir build && cd build && cmake .. -DTARGET_ARCHITECTURE=$TARGET_ARCHITECTURE -DUSE_COTIRE=true && make -j$(getconf _NPROCESSORS_ONLN) && QT_QPA_PLATFORM=offscreen ctest -V --no-compress-output -T test && cpack"

    test_script:
      # Transform test results from ctest to junit format
      - ps: $XSLInputElement = New-Object System.Xml.Xsl.XslCompiledTransform
      - ps: $XSLInputElement.Load("https://raw.githubusercontent.com/rpavlik/jenkins-ctest-plugin/master/ctest-to-junit.xsl")
      - ps: $XSLInputElement.Transform((Resolve-Path .\build\Testing\*\Test.xml), (Join-Path (Resolve-Path .) "ctest-to-junit-results.xml"))
      - ps: $wc = New-Object 'System.Net.WebClient'
      - ps: $wc.UploadFile("https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\ctest-to-junit-results.xml))

    artifacts:
      - path: build\mmapper-*-Linux-*.deb
        name: MMapper Debian Package

      - path: build\mmapper-*-Linux-*.*.sha256
        name: MMapper Checksums

  # Windows (MSVC)
  -
    matrix:
      only:
        - image: Previous Visual Studio 2019

    clone_folder: c:\Build\MMapper

    init:
      - cmd: if %COMPILER%==VS2019 if %ARCH%==x86 call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvars32.bat"
      - cmd: if %COMPILER%==VS2019 if %ARCH%==x64 call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvars64.bat"
      - cmd: if %COMPILER%==VS2019 set CMAKE_GENERATOR="NMake Makefiles JOM"
      - cmd: if %ARCH%==x86 set OPENSSLDIR=C:\OpenSSL-v111-Win32
      - cmd: if %ARCH%==x64 set OPENSSLDIR=C:\OpenSSL-v111-Win64
      - cmd: git config --global core.autocrlf input
      - cmd: echo NUMBER_OF_PROCESSORS=%NUMBER_OF_PROCESSORS%
      - cmd: echo PROCESSOR_IDENTIFIER=%PROCESSOR_IDENTIFIER%
      - cmd: echo QTDIR=%QTDIR%
      - cmd: echo CMAKE_GENERATOR=%CMAKE_GENERATOR%
      # Rename the OpenSSL 1.02 directory so CMake can't find it
      - cmd: if exist "C:\OpenSSL-Win32" move C:\OpenSSL-Win32 C:\OpenSSL-v102-Win32
      - cmd: if exist "C:\OpenSSL-Win64" move C:\OpenSSL-Win64 C:\OpenSSL-v102-Win64

    install:
      - ps: $env:package_version = ("$(git describe --tags --always --long)").trim()
      - ps: Update-AppveyorBuild -Version "$env:package_version-$env:APPVEYOR_BUILD_NUMBER"

    before_build:
      - cmd: set PATH=%QTDIR%\bin;C:\Qt\Tools\QtCreator\bin;%PATH%
      # Install NASM to compile OpenSSL using MSVC
      #- cmd: chocolatey install -y nasm
      #- cmd: set PATH=%PROGRAMFILES%\nasm;%PATH%
      - cmd: echo PATH=%PATH%

    build_script:
      - cmd: cd c:\Build\MMapper
      - cmd: md winbuild
      - cmd: cd winbuild
      - cmd: cmake .. -DCMAKE_BUILD_TYPE=RelWithDebInfo -G %CMAKE_GENERATOR% "-DCMAKE_PREFIX_PATH=%QTDIR%" -DUSE_COTIRE=true "-DOPENSSL_ROOT_DIR=%OPENSSLDIR%"
      - cmd: cmake --build . -j %NUMBER_OF_PROCESSORS%
      - cmd: cpack

    test_script:
      - cmd: ctest -V --no-compress-output -T Test
      # Transform test results from ctest to junit format
      - ps: $XSLInputElement = New-Object System.Xml.Xsl.XslCompiledTransform
      - ps: $XSLInputElement.Load("https://raw.githubusercontent.com/rpavlik/jenkins-ctest-plugin/master/ctest-to-junit.xsl")
      - ps: $XSLInputElement.Transform((Resolve-Path .\Testing\*\Test.xml), (Join-Path (Resolve-Path .) "ctest-to-junit-results.xml"))
      - ps: $wc = New-Object 'System.Net.WebClient'
      - ps: $wc.UploadFile("https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\ctest-to-junit-results.xml))

    artifacts:
      - path: winbuild\mmapper-*-Windows-*.exe
        name: MMapper Installer

      - path: winbuild\mmapper-*-Windows-*.*.sha256
        name: MMapper Checksums

  # Windows (MinGW)
  -
    matrix:
      only:
        - image: Visual Studio 2017

    clone_folder: c:\Build\MMapper

    init:
      - cmd: if %COMPILER%==MinGW set CMAKE_GENERATOR="MSYS Makefiles"
      - cmd: git config --global core.autocrlf input
      - cmd: echo NUMBER_OF_PROCESSORS=%NUMBER_OF_PROCESSORS%
      - cmd: echo PROCESSOR_IDENTIFIER=%PROCESSOR_IDENTIFIER%
      - cmd: echo QTDIR=%QTDIR%
      - cmd: echo CMAKE_GENERATOR=%CMAKE_GENERATOR%
      # Rename the OpenSSL 1.02 directory so CMake can't find it
      - cmd: if exist "C:\OpenSSL-Win32" move C:\OpenSSL-Win32 C:\OpenSSL-v102-Win32
      - cmd: if exist "C:\OpenSSL-Win64" move C:\OpenSSL-Win64 C:\OpenSSL-v102-Win64

    install:
      - ps: $env:package_version = ("$(git describe --tags --always --long)").trim()
      - ps: Update-AppveyorBuild -Version "$env:package_version-$env:APPVEYOR_BUILD_NUMBER"
      # Install MingW
      - cmd: if %COMPILER%==MinGW set "PATH=C:/msys64/usr/bin;%PATH%"
      # Update pacman manually from old MSYS2.
      # See also: https://github.com/msys2/MSYS2-packages/issues/1960
      - cmd: if %COMPILER%==MinGW pacman -Sy --noconfirm --noprogressbar zstd
      - cmd: if %COMPILER%==MinGW wget -q http://repo.msys2.org/msys/x86_64/pacman-5.2.1-7-x86_64.pkg.tar.zst
      - cmd: if %COMPILER%==MinGW zstd -d pacman-5.2.1-7-x86_64.pkg.tar.zst
      - cmd: if %COMPILER%==MinGW gzip pacman-5.2.1-7-x86_64.pkg.tar
      - cmd: if %COMPILER%==MinGW pacman --noconfirm --upgrade ./pacman-5.2.1-7-x86_64.pkg.tar.gz
      - cmd: if %COMPILER%==MinGW pacman -Su --noconfirm --noprogressbar
      - cmd: if %COMPILER%==MinGW if %ARCH%==x86 pacman -Sy --noconfirm --noprogressbar --needed mingw-w64-i686-toolchain mingw-w64-i686-miniupnpc
      - cmd: if %COMPILER%==MinGW if %ARCH%==x64 pacman -Sy --noconfirm --noprogressbar --needed mingw-w64-x86_64-toolchain mingw-w64-x86_64-miniupnpc
      # Install Qt
      - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/build-images/master/scripts/Windows/install_qt_module.ps1'))
      - ps: if ($env:ARCH -eq 'x86') { Install-QtComponent -Version '5.15.0' -Name 'win32_mingw73' -ExcludeDocs -ExcludeExamples }
      - ps: if ($env:ARCH -eq 'x64') { Install-QtComponent -Version '5.15.0' -Name 'win64_mingw73' -ExcludeDocs -ExcludeExamples }
      - ps: ConfigureQtVersion 'C:\Qt' '5.15.0'

        before_build:
      - cmd: if %COMPILER%==MinGW if %ARCH%==x86 set "PATH=C:/msys64/mingw32/bin;%PATH%"
      - cmd: if %COMPILER%==MinGW if %ARCH%==x64 set "PATH=C:/msys64/mingw64/bin;%PATH%"
      - cmd: set PATH=%QTDIR%\bin;%PATH%;C:\Qt\Tools\QtCreator\bin
      - cmd: if %COMPILER%==MinGW set PATH=%PATH:C:\Program Files\Git\usr\bin;=%
      - cmd: echo PATH=%PATH%

    build_script:
      - cmd: cd c:\Build\MMapper
      - cmd: md winbuild
      - cmd: cd winbuild
      - cmd: cmake .. -DCMAKE_BUILD_TYPE=RelWithDebInfo -G %CMAKE_GENERATOR% "-DCMAKE_PREFIX_PATH=%QTDIR%" -DUSE_COTIRE=true
      - cmd: cmake --build . -j %NUMBER_OF_PROCESSORS%
      - cmd: cpack

    test_script:
      - cmd: ctest -V --no-compress-output -T test
      # Transform test results from ctest to junit format
      - ps: $XSLInputElement = New-Object System.Xml.Xsl.XslCompiledTransform
      - ps: $XSLInputElement.Load("https://raw.githubusercontent.com/rpavlik/jenkins-ctest-plugin/master/ctest-to-junit.xsl")
      - ps: $XSLInputElement.Transform((Resolve-Path .\Testing\*\Test.xml), (Join-Path (Resolve-Path .) "ctest-to-junit-results.xml"))
      - ps: $wc = New-Object 'System.Net.WebClient'
      - ps: $wc.UploadFile("https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\ctest-to-junit-results.xml))

    artifacts:
      - path: winbuild\mmapper-*-Windows-*.exe
        name: MMapper Installer

      - path: winbuild\mmapper-*-Windows-*.*.sha256
        name: MMapper Checksums

    on_failure:
      # Change false to true to block build and investigate build failures
      - ps: $blockRdp = $false; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

  # Mac
  -
    matrix:
      only:
        - image: macos-mojave

    clone_folder: ~/mmapper

    init:
      - sh: echo _NPROCESSORS_ONLN=$(getconf _NPROCESSORS_ONLN)

    install:
      - ps: $env:package_version = ("$(git describe --tags --always --long)").trim()
      - ps: Update-AppveyorBuild -Version "$env:package_version-$env:APPVEYOR_BUILD_NUMBER"
      - brew install qt5 openssl@1.1
      - brew link qt5 --force
      - export PATH=/usr/local/opt/qt5/bin:$PATH

    build_script:
      - mkdir build
      - cd build
      - cmake .. -DCMAKE_PREFIX_PATH=/usr/local/opt/qt5/bin/ -DOPENSSL_ROOT_DIR=/usr/local/opt/openssl\@1.1
      - make -j$(getconf _NPROCESSORS_ONLN)
      - cpack

    test_script:
      - ctest -V --no-compress-output -T test
      # Transform test results from ctest to junit format
      - ps: $XSLInputElement = New-Object System.Xml.Xsl.XslCompiledTransform
      - ps: $XSLInputElement.Load("https://raw.githubusercontent.com/rpavlik/jenkins-ctest-plugin/master/ctest-to-junit.xsl")
      - ps: $XSLInputElement.Transform((Resolve-Path .\Testing\*\Test.xml), (Join-Path (Resolve-Path .) "ctest-to-junit-results.xml"))
      - ps: $wc = New-Object 'System.Net.WebClient'
      - ps: $wc.UploadFile("https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\ctest-to-junit-results.xml))

    artifacts:
      - path: build\mmapper-*-Mac-*.dmg
        name: MMapper Mac Package

      - path: build\mmapper-*-Mac-*.*.sha256
        name: MMapper Checksums
