cmake-build-debug/
build**/
out/
**CMakeFiles/
**.bak
*.user
*~
*.autosave
*Thumbs.db
Makefile
.qmake.stash
**.mm2
**/.DS_Store
.cache
.clang-tidy
.idea
.vs
.vscode
CMakeUserPresets.json
CMakeSettings.json
cmake-build-debug/
.claude/
*.bat
*.exe
nul

# snapcraft
parts/
prime/
snap/
stage/
*.snap
*_source.tar.bz2
