winbuild/
build/
out/
**CMakeFiles/
**.bak
*.user
*~
*.autosave
*Thumbs.db
Makefile
.qmake.stash
**.mm2
**/.DS_Store
.idea
.vs
.vscode
CMakeSettings.json

# snapcraft
parts/
prime/
snap/
stage/
*.snap
*_source.tar.bz2
.pre-commit-config.yaml
