cmake-build-debug/
winbuild/
build/
out/
**CMakeFiles/
**.bak
*.user
*~
*.autosave
*Thumbs.db
Makefile
.qmake.stash
**.mm2
**/.DS_Store
.clang-tidy
.idea
.vs
.vscode
CMakeSettings.json
cmake-build-debug/


# snapcraft
parts/
prime/
snap/
stage/
*.snap
*_source.tar.bz2
