name: clang-format-check

on:
  push:
    branches:
    - master
  pull_request:
  workflow_dispatch:

jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path:
          - check: 'src'
          - check: 'tests'
    steps:
    - uses: actions/checkout@v6
    - name: Run clang-format style check
      uses: jidicula/clang-format-action@v4.16.0
      with:
        clang-format-version: '18'
        check-path: ${{ matrix.path['check'] }}
        exclude-regex: ${{ matrix.path['exclude'] }}
