name: build-wasm

on:
  push:
    tags:
    - 'v*'
    branches:
    - master
  pull_request:
  workflow_dispatch:

jobs:
  build-wasm:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
        submodules: true

    - name: ccache
      uses: hendrikmuhs/ccache-action@v1.2
      with:
        create-symlink: true
        key: ${{ github.job }}

    - name: Install Qt for Wasm
      uses: jurplel/install-qt-action@v4
      with:
        version: 6.10.2
        target: wasm
        host: all_os
        arch: wasm_multithread
        cache: true
        modules: 'qtwebsockets'

    - name: Setup emsdk
      uses: mymindstorm/setup-emsdk@v14
      with:
        version: 4.0.7

    - name: Configure and Build
      shell: bash
      run: |
        $QT_ROOT_DIR/bin/qt-cmake -S . -B build \
          -DQT_HOST_PATH=$QT_HOST_PATH \
          -DWITH_OPENSSL=OFF \
          -DWITH_TESTS=OFF \
          -DWITH_WEBSOCKET=ON \
          -DWITH_UPDATER=OFF \
          -DCMAKE_BUILD_TYPE=Release \
          -DPACKAGE_TYPE=Wasm \
          -DCMAKE_C_COMPILER_LAUNCHER=ccache \
          -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
        cmake --build build

    - name: Add coi-serviceworker.js
      run: |
        cd build/src
        wget https://raw.githubusercontent.com/gzuidhof/coi-serviceworker/refs/heads/master/coi-serviceworker.js
        perl -i.bak -pe 's#(<head>)#$1\n<script src="./coi-serviceworker.js"></script>#i' mmapper.html

    - name: Get Git tag description
      id: git_info
      run: |
        git config --global --add safe.directory $(pwd)
        VERSION=$(git tag --points-at HEAD | grep -v '^beta$' | sed 's/^v//' | head -n 1 || true)
        VERSION=${VERSION:-$(git describe --tags --always --long --exclude beta | sed 's/^v//' || true)}
        VERSION=${VERSION:-$(cat MMAPPER_VERSION)}
        FILE="mmapper-${VERSION}-wasm.zip"
        echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT
        echo "FILE=${FILE}" >> $GITHUB_OUTPUT

    - name: Package
      run: |
        mkdir -p demo
        cp build/src/mmapper.js demo/
        cp build/src/mmapper.wasm demo/
        cp build/src/qtloader.js demo/
        cp build/src/qtlogo.svg demo/
        cp build/src/coi-serviceworker.js demo/
        cp build/src/mmapper.html demo/index.html
        zip -r ${{ steps.git_info.outputs.FILE }} demo

    - name: Upload Package
      uses: actions/upload-artifact@v6
      with:
        name: mmapper-${{ steps.git_info.outputs.VERSION }}-wasm
        path: ${{ steps.git_info.outputs.FILE }}
